.body {
    width: 100%; /* Ancho del contenedor */
    height: 400px; /* Alto del contenedor */
    background-image: url('zzzzzzp.jpeg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajustar la imagen para cubrir todo el contenedor */
    background-position: center; /* Posición de la imagen centrada */
    /* Otros estilos opcionales */
    color: rgb(161, 39, 39); /* Color del texto dentro del contenedor */
    /* ... */
  }
  